.header {
  padding: 17px 0px 14px;
  background-color: #3ac5c9;
}
@media (max-width: 991px) {
  .header {
    padding: 10px 0px 16px;
  }
}
.header .header-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .header .header-content {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.header a {
  text-decoration: none;
}
.header a .logo-header {
  min-width: 176px;
  max-width: 176px;
  height: 41px;
  object-fit: cover;
}
@media (max-width: 991) {
  .header a .logo-header {
    min-width: 135px;
    max-width: 135px;
    height: 32px;
    object-fit: cover;
  }
}
.header .menu-header {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .header .menu-header {
    margin-top: 18px;
  }
}
.header .menu-header li {
  margin-right: 32px;
}
.header .menu-header li:last-of-type {
  margin-right: 0;
}
.header .menu-header li a {
  display: flex;
  align-items: center;
}
.header .menu-header li a .label {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  /* identical to box height */
  /* #313955 */
  color: #313955;
  margin-right: 8px;
}
@media (max-width: 991px) {
  .header .menu-header li a .label {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
  }
}
.header .menu-header li a .icon {
  min-width: 12px;
  max-width: 12px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 100%;
  height: 555px;
  background-image: url("../images/banner-pc.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .banner {
    height: 377px;
    background-image: url("../images/banner-mobile.png");
  }
}
.banner .container {
  height: 100%;
}
.banner .banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 991px) {
  .banner .banner-content {
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.banner .banner-content .title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  /* identical to box height */
  color: #ffffff;
}
@media (max-width: 991px) {
  .banner .banner-content .title {
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 52px;
  }
}
.banner .banner-content .sub-title {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 52px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 15px;
  background: #f1516e;
  border-radius: 8px;
  margin: 12px 0px 52px;
}
@media (max-width: 991px) {
  .banner .banner-content .sub-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 9px 18px;
    max-width: 273px;
    margin: 18px 0px 22px;
  }
}
.banner .banner-content .list-league {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .banner .banner-content .list-league {
    justify-content: center;
  }
}
.banner .banner-content .list-league li {
  margin-right: 12px;
}
@media (max-width: 991px) {
  .banner .banner-content .list-league li {
    margin-right: 8px;
    margin-bottom: 8px;
  }
}
.banner .banner-content .list-league li:last-of-type {
  margin-right: 0;
}
.banner .banner-content .list-league li a .league-item-image {
  display: block;
  min-width: 151px;
  max-width: 151px;
  height: 107px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .banner .banner-content .list-league li a .league-item-image {
    min-width: 80px;
    max-width: 80px;
    height: 56px;
  }
}

.main-content-block {
  background-color: #111;
  padding: 80px 0px 84px;
}
@media (max-width: 991px) {
  .main-content-block {
    padding: 50px 0px 0px;
  }
}
.main-content-block .title-block-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .main-content-block .title-block-wrapper {
    margin-bottom: 18px;
  }
}
.main-content-block .title-block-wrapper .icon {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
.main-content-block .title-block-wrapper .icon img {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-content-block .title-block-wrapper .title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  color: #ffffff !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 991px) {
  .main-content-block .title-block-wrapper .title {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
  }
}
.main-content-block .hot-match-block {
  width: 100%;
  height: auto;
}
.main-content-block .hot-match-block .list-match-wrapper {
  width: 100%;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-wrapper {
    max-width: 100%;
    overflow-x: auto;
  }
}
.main-content-block .hot-match-block .list-match-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row {
    margin-bottom: 12p;
  }
}
.main-content-block .hot-match-block .list-match-row .match-item {
  min-width: calc((100% - 72px) / 4);
  max-width: calc((100% - 72px) / 4);
  margin-right: 24px;
  height: auto;
  background: #222222;
  border-radius: 8px;
  color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
}
@media (max-width: 768px) {
  .main-content-block .hot-match-block .list-match-row .match-item {
    padding: 16px;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main-content-block .hot-match-block .list-match-row .match-item:last-of-type {
  margin-right: 0;
}
.main-content-block .hot-match-block .list-match-row .league-info {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .league-info {
    order: 2;
    margin: 8px 0px;
  }
}
.main-content-block .hot-match-block .list-match-row .league-info .league-image {
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  object-fit: cover;
  margin-right: 8px;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .league-info .league-image {
    display: none;
  }
}
.main-content-block .hot-match-block .list-match-row .league-info .league-name {
  flex-grow: 1;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* #FFFFFF */
  color: #ffffff;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .league-info .league-name {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    max-width: 120px;
    margin: auto;
    text-align: center;
  }
}
.main-content-block .hot-match-block .list-match-row .list-club {
  display: flex;
  flex-direction: column;
  margin: 14px 0px 16px;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .list-club {
    order: 1;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
}
.main-content-block .hot-match-block .list-match-row .list-club .club-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .list-club .club-item {
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
.main-content-block .hot-match-block .list-match-row .list-club .club-item .club-image {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  object-fit: cover;
  margin-right: 8px;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .list-club .club-item .club-image {
    margin-bottom: 8px;
  }
}
.main-content-block .hot-match-block .list-match-row .list-club .club-item .club-name {
  flex-grow: 1;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  /* #FFFFFF */
  color: #ffffff;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .list-club .club-item .club-name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    /* #FFFFFF */
    color: #ffffff;
    text-transform: uppercase;
  }
}
.main-content-block .hot-match-block .list-match-row .list-club .club-item .club-name-pc {
  display: block;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .list-club .club-item .club-name-pc {
    display: none;
  }
}
.main-content-block .hot-match-block .list-match-row .list-club .club-item .club-name-mobile {
  display: none;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .list-club .club-item .club-name-mobile {
    display: block;
  }
}
.main-content-block .hot-match-block .list-match-row .match-time-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .match-time-wrapper {
    order: 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main-content-block .hot-match-block .list-match-row .match-time-wrapper .match-time {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  /* #FFFFFF */
  color: #ffffff;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .match-time-wrapper .match-time {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
  }
}
.main-content-block .hot-match-block .list-match-row .match-time-wrapper .btn-watch {
  padding: 6px 20px;
  background: #f1516e;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  text-align: center;
  /* #FFFFFF */
  color: #ffffff;
}
@media (max-width: 991px) {
  .main-content-block .hot-match-block .list-match-row .match-time-wrapper .btn-watch {
    display: block;
    width: 100%;
    padding: 6px 0px;
    text-align: center;
    margin-top: 8px;
    min-width: 100px;
    max-width: 100%;
  }
}

.upcomming-match-block {
  margin: 80px 0px 96px;
}
@media (max_md) {
  .upcomming-match-block {
    margin: 50px 0px 80px;
  }
}

.about-page-block {
  background: #3ac5c9;
  border-radius: 8px;
  width: 100%;
  padding: 64px;
  font-family: "Poppins";
}
@media (max-width: 991px) {
  .about-page-block {
    padding: 30px 16px 42px;
    border-radius: 0;
  }
}
.about-page-block .about-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #111111;
  margin-bottom: 12px;
}
@media (max-width: 991px) {
  .about-page-block .about-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }
}
.about-page-block .about-item {
  width: 100%;
}
.about-page-block .about-item .sub-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  margin-bottom: 12px;
  color: #111111;
}
@media (max-width: 991px) {
  .about-page-block .about-item .sub-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}
.about-page-block .line-block {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #111111;
}
@media (max-width: 991px) {
  .about-page-block .line-block {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 12px;
  }
}
.about-page-block .line-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #111111;
  margin: 0;
  padding: 0;
}
.about-page-block .mb-24 {
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .about-page-block .mb-24 {
    margin-bottom: 12px;
  }
}

.table-match-wrapper .table-item {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .table-match-wrapper .table-item {
    margin-bottom: 32px;
  }
}
.table-match-wrapper .table-item .table-header {
  padding: 8px 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  color: #ffffff;
  background: #313955;
}
@media (max-width: 991px) {
  .table-match-wrapper .table-item .table-header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #ffffff;
  }
}
.table-match-wrapper .table-item .table-content {
  width: 100%;
}
.table-match-wrapper .table-item .table-row {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
@media (max-width: 991px) {
  .table-match-wrapper .table-item .table-row {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    flex-direction: column;
    padding: 0 !important;
    font-family: "Poppins" !important;
    border-bottom: none;
    margin-bottom: 4px;
    background-color: #222;
  }
}
.table-match-wrapper .table-item .table-row .left {
  width: 40%;
  display: flex;
}
@media (max-width: 991px) {
  .table-match-wrapper .table-item .table-row .left {
    width: 100%;
    padding: 6px 16px;
    border-bottom: 1px solid #333;
  }
}
.table-match-wrapper .table-item .table-row .left .time {
  width: 40%;
}
.table-match-wrapper .table-item .table-row .left .league-name {
  flex-grow: 1;
  width: 60%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  padding-right: 8px;
}
@media (max-width: 991px) {
  .table-match-wrapper .table-item .table-row .left .league-name {
    display: flex;
    justify-content: flex-end;
  }
}
.table-match-wrapper .table-item .table-row .right {
  width: 60%;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .table-match-wrapper .table-item .table-row .right {
    width: 100%;
    padding: 10px 16px;
  }
}
.table-match-wrapper .table-item .table-row .right .club-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 50%;
}
.table-match-wrapper .table-item .table-row .right .club-item .club-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: calc(100% - 40px);
}
.table-match-wrapper .table-item .table-row .right .club-item .club-image {
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  object-fit: cover;
  border: none;
  border-radius: 50%;
}
.table-match-wrapper .table-item .table-row .right .club-1 {
  justify-content: flex-end;
}
.table-match-wrapper .table-item .table-row .right .club-1 .club-image {
  margin-left: 12px;
}
.table-match-wrapper .table-item .table-row .right .club-2 .club-image {
  margin-right: 12px;
}
.table-match-wrapper .table-item .table-row .right .dash-wrapper {
  min-width: 50px;
  max-width: 50px;
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .table-match-wrapper .table-item .table-row .right .dash-wrapper {
    min-width: 12px;
    max-width: 12px;
  }
  .table-match-wrapper .table-item .table-row .right .dash-wrapper .dash {
    display: none;
  }
}

@media (max-width: 991px) {
  .main-content-block .container {
    padding: 0 !important;
  }
}

@media (max-width: 991px) {
  .hot-match-block,
.upcomming-match-block {
    padding: 0px 12px;
  }
}

.footer-wraper {
  background-color: #1f1f1f;
  padding: 32px 0px;
}
.footer-wraper .footer-content {
  display: flex;
  flex-direction: column;
}
.footer-wraper .main-footer {
  display: flex;
  margin-top: 24px;
}
.footer-wraper .footer-logo {
  display: block;
  min-width: 176px;
  max-width: 176px;
  height: 41px;
}
@media (max-width: 991px) {
  .footer-wraper .footer-logo {
    min-width: 134px;
    max-width: 134px;
    height: 36px;
  }
}

.footer-wrapper-pc {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  color: #ffffff;
  display: flex;
}
@media (max-width: 991px) {
  .footer-wrapper-pc {
    display: none;
  }
}
.footer-wrapper-pc .left-column {
  width: 20%;
}
.footer-wrapper-pc .left-column .description {
  margin-bottom: 12px;
}
.footer-wrapper-pc .right-column {
  width: 80%;
  padding: 0px 32px;
}
.footer-wrapper-pc .right-column .hot-comming-match {
  margin-top: 24px;
  flex-direction: column;
}
.footer-wrapper-pc .right-column .hot-comming-match .list-comming-match {
  display: flex;
}
.footer-wrapper-pc .right-column .top-footer-menu,
.footer-wrapper-pc .right-column .hot-comming-match {
  display: flex;
}
.footer-wrapper-pc .right-column .top-footer-menu .column,
.footer-wrapper-pc .right-column .hot-comming-match .column {
  width: 25%;
}
.footer-wrapper-pc .right-column .top-footer-menu .title,
.footer-wrapper-pc .right-column .hot-comming-match .title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 12px;
}
.footer-wrapper-pc .right-column .top-footer-menu .sub-menu,
.footer-wrapper-pc .right-column .hot-comming-match .sub-menu {
  display: flex;
  flex-direction: column;
}
.footer-wrapper-pc .right-column .top-footer-menu .sub-menu li,
.footer-wrapper-pc .right-column .hot-comming-match .sub-menu li {
  margin-bottom: 6px;
}
.footer-wrapper-pc .right-column .top-footer-menu .sub-menu li a,
.footer-wrapper-pc .right-column .hot-comming-match .sub-menu li a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* identical to box height, or 167% */
  color: #ffffff;
}
.footer-wrapper-pc .right-column .top-footer-menu .sub-menu .text-danger a,
.footer-wrapper-pc .right-column .hot-comming-match .sub-menu .text-danger a {
  color: #f1516e !important;
}

.footer-wrapper-mb {
  display: none;
  flex-direction: column;
}
@media (max-width: 991px) {
  .footer-wrapper-mb {
    display: flex;
  }
}
.footer-wrapper-mb .main-footer {
  flex-direction: column;
}
.footer-wrapper-mb .footer-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.footer-wrapper-mb .footer-info .description,
.footer-wrapper-mb .footer-info .email,
.footer-wrapper-mb .footer-info .copy-right {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* or 154% */
  color: #ffffff;
}
.footer-wrapper-mb .footer-info .email {
  margin: 8px 0px;
  font-family: "Poppins";
}
.footer-wrapper-mb .sub-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.footer-wrapper-mb .sub-menu li {
  margin-right: 16px;
  margin-bottom: 16px;
}
.footer-wrapper-mb .sub-menu li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */
  /* #3AC5C9 */
  color: #3ac5c9;
}
.footer-wrapper-mb .hot-match-comming .title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  color: #ffffff;
  margin-bottom: 12px;
}
.footer-wrapper-mb .hot-match-comming .list-hot-match {
  display: flex;
  flex-wrap: wrap;
}
.footer-wrapper-mb .hot-match-comming .list-hot-match li {
  margin-right: 12px;
  margin-bottom: 4px;
}
.footer-wrapper-mb .hot-match-comming .list-hot-match li a {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
